body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Be Vietnam', sans-serif;
}
.card-body {
  height: 350px;
  width: 457px;
}
.card {
  margin-left: auto;
  margin-right: auto;
}
.about {
  text-align: center;
}
.about_pic {
  width: 265px;
  height: 350px;
}
.side {
  float: left;
}

.wrapper {
  position: relative;
  top: 23%;
  left: 27%;
}
.bc {
  width: 100%;
  height: 100%;

  background-image: url(triangles-1430105_1280.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
