body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
  line-height: 1.4em;
}

.about {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.about_pic {
  width: 300px;
  height: 450px;
}

.side {
  width: 40%;
  padding-left: 4%;
  text-align: left;
}
