body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
  line-height: 1.4em;
}

.about {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  text-align: right;
}
.about_pic {
  width: 60%;
  height: auto;
  text-align: right;
}

.side {
  width: 40%;
  padding-left: 4%;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .about_pic {
    display: none;
  }
  .side {
    padding-top: 10%;
    width: 80%;
    text-align: left;
  }
}

.navbar-brand {
  margin-right: 20vw;
}
