body {
  font-family: 'Be Vietnam', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 1.4em;
}
h1 {
  margin-top: 4%;
  font-size: 6em;
}
h2 {
  margin-top: 1%;
}

i {
  color: black;
}
ul {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
.vl {
  border-left: 6px dotted grey;
  height: 100px;
  display: flex;
  margin-left: 50%;
}

.collapse {
  justify-content: center;
}
nav a {
  width: 150px;
}

.navbar-brand {
  margin-right: 0;
}
