body {
  font-family: 'Be Vietnam', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 1.4em;
}
h1 {
  padding-top: 4%;
  font-size: 10vw;
}
h2 {
  margin-top: 1%;
}

i {
  color: black;
}
ul {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  width: 30%;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
.vl {
  border-left: 6px dotted grey;
  height: 100px;
  display: flex;
  margin-left: 50%;
}

a {
  text-decoration: none;
}
a:visited,
a:hover,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 880px) {
  h1 {
    padding-top: 20%;
  }
  ul {
    width: 70%;
  }
}
