html{scroll-behavior:smooth}

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.5vw;
  line-height: 3vw;
  width: 100%;
  background-color: #101457;
  color: white;
  margin-bottom: 10px;
}

footer{
  height: 20vh;
  bottom: 0;
  width: 100%;
  background-color: #101457;
  color: white;
  padding-bottom: 5vh;
}

footer h2{
  padding-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  margin-bottom: 1px;
  
}
footer h3{
  padding-left: 5vw;
  padding-top: 1px;
  margin-top: 1px;
  text-align: center
}
aside a:visited, a{
  text-decoration: underline;
  color: black;
}
.heading{
  padding-top: 1vh; 
  padding-left: 3vw;
}
.heading div{
  font-size: 4vw;
    line-height: 1;
    padding-bottom: 10px;
}
footer ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul li{
  margin-left: 4vw;
}
/* -------------NAV START ---------------- */
.dropdown_menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-image: url(portfoliomenu.png);
  background-size: contain;
}
.drop_button {
  background-color: #fba4a0;
  color: black;
  padding: 8px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  
}

.drop_button:focus{
  outline: none; 
}
.content {
  display: none;
  position: absolute;
  background-color: #101457;
  min-width: 160px;
  z-index: 0;
  text-align: center;
}

.content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.show {
  display: block;
  margin-top: 2.1em;
  font-size: 16px;
  
}



footer a{
  text-decoration: none; 
  color: white;
}

/* -------------NAV END ---------------- */
/* -------------MAIN START ---------------- */

.my_pic{
  width: 30%;
  height: 60%;
  margin-right: 2em;
}

.about_me{
  margin-top: 2em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vw;
}

h2{
  text-align: center;
}
.capstone_pic{
  width: 50%;
  height: 50%;
  margin-right: 2em;
} 
.work{
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
}

aside{
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .dropdown_menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-image: url(portfoliomenu.png);
    background-size: cover;
  }
  .heading div {
    font-size: 6vw;
    line-height: 1;
}
.heading aside {
  font-size: 5vw;
  line-height: 1;
}
  .about_me {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .my_pic {
    width: 250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .about_me{
    margin-top: 1.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }

  .capstone_pic {
    height: 300px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    text-align: center;
  }
  .work {
    display: block;
    background-color: white;
    margin-bottom: 3em;
  }
  .work aside  {
    margin: 1em;
    width: 90%;
  }
  .work ul {
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
  }

  .work ul li {
    background-color: lightgrey;
    padding: 0.3em;
    border-radius: 3px;
    margin: 3px;
  }

  section .buttons {
    display: flex;
    justify-content: center;
  }

  .resume_section {
    text-align: center;
  }
  .resume_section h2 {
  }

  .resume_section button {
    border-radius: 2px;
    padding: 1em;
    background-color: lightgray;
  }

  footer ul{
    list-style: none;
    display: flex;
    margin-left: -3em
  }
  footer ul li{
    margin-left: 7vw;
  }

  footer a{
    text-decoration: none; 
    color: white;
  }

  .show div{
    padding: 8px;
  }
}
