
html,body{
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
}
a img{
  text-decoration: none; 
}
.aboutme{
  padding: 2em;
}
.about{
  max-width: 700px;

}

.profile_pic {
  width: 300px;
  height: 275px;
  /* border-radius: 187px; */
  margin-right: 3em;
}

.about h2{
  text-align: left;
}

header {
  padding-top: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.5vw;
  line-height: 3vw;
  width: 100%;
  background-color: #101457;
  color: white;
  margin-bottom: 10px;
}





aside a:visited, a{
  text-decoration: underline;
  color: black;
}
.heading{
  padding-top: 1vh; 
  padding-left: 3vw;
}
.heading div{
  font-size: 4vw;
    line-height: 1;
    padding-bottom: 10px;
}



/* -------------NAV START ---------------- */
.dropdown_menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-image: url(longNav.png);
  background-size: contain;
  width: 100%;
  margin-bottom: 3vh; 
}
.drop_button {
  background-color: #fba4a0;
  color: #fba4a0;
  padding: 8px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  
}

.drop_button:focus{
  outline: none; 
}
.content {
  display: none;
  position: absolute;
  background-color: #101457;
  min-width: 160px;
  z-index: 0;
  text-align: center;
}

.content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.show {
  display: block;
  margin-top: 2.1em;
  font-size: 16px;
  
}



footer a{
  text-decoration: none; 
  color: white;
}

/* -------------NAV END ---------------- */
/* -------------MAIN START ---------------- */

.my_pic{
  width: 30%;
  height: 60%;
  margin-right: 2em;
}

.about_me{
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 3em;
}

h2{
  text-align: center;
}
.capstone_pic{
  width: 45%;
  height: 50%;
  margin-right: 2em;
  padding-top: 1.5em;
    align-self: center;
} 
.work{
  display: flex;
  margin-bottom: 4em;
  justify-content: center;
}

aside{
  width: 40%;
  max-width: 600px;
}




/*********** FOOTER START ************/
footer{
  margin-top: 4em;
  padding-top: 3vh;
  height: 20vh;
  bottom: 0;
  width: 100%;
  background-color: #101457;
  color: white;
  padding-bottom: 3vh;
}

.main_footer{
  display: flex; 
  justify-content: center;
  line-height: 1.5px;

}

footer h3{
  display: flex;
  justify-content: center;
}


footer ul{
  display: flex;
  justify-content: center;

}
footer li{
  list-style-type: none;
  padding-right: 35px
}

/*********** FOOTER END ************/

@media only screen and (max-width: 860px) {
  .dropdown_menu {
    justify-content: flex-end;
    background-image: url(portfoliomenu.png);
    background-size: cover;
  }
  .heading div {
    font-size: 6vw;
    line-height: 1;
    width: 100%;
}
/* .heading aside {
  font-size: 5vw;
  line-height: 1;
} */
.profile_pic{
  display: flex;
  margin-left: auto;
    margin-right: auto;
}
.about h2{
  text-align: center;
}
 .about{
  max-width: 99%;
  margin-left: auto; 
  margin-right: auto;
}

  .about_me {
    max-width: 95%;
    margin-top: 3.5em;    
    margin-bottom: 3em;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
  }
  .my_pic {
    width: 90%;
  height: 300px; 
    margin-left: auto;
    margin-right: auto;
  }

  /* .about_me{
    margin-top: 1.5em;
    width: 90%;
  } */

  .capstone_pic {
    height: 300px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    text-align: center;
  }
  .work {
    display: block;
    background-color: white;
    margin-bottom: 3em;
  }
  .work aside  {
    margin: 2em;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .work ul {
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
  }

  .work ul li {
    background-color: lightgrey;
    padding: 0.3em;
    border-radius: 3px;
    margin: 3px;
  }
  section{
    margin-bottom: 2em;
  }
  section .buttons {
    display: flex;
    justify-content: center;
  }

  .resume_section {
    text-align: center;
  }
  .resume_section h2 {
  }

  .resume_section button {
    border-radius: 2px;
    padding: 1em;
    background-color: lightgray;
  }


  footer a{
    text-decoration: none; 
    color: white;
  }

  .show div{
    padding: 8px;
  }
  @media only screen and (max-width: 400px) {
    .capstone_pic {
      height: 250px;;
      width: 85%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .work aside  {
      width: 95%;
      text-align: left;
      margin: 1em;
    }
  }
}


