body,
html {
  height: 100%;
  overflow-y: hidden;
}

.bc {
  width: 100%;
  height: 100%;

  background-image: url(triangles-1430105_1280.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.centered,
.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.centered h1 {
  font-size: 4.5em;
}
h2 {
  font-size: 3.5em;
}

.bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
