body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  background-color: #f3f0ec;
}
.flex-container {
  padding-top: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 20px;
}
.flex-container > div {
  width: 650px;
}
.card-title,
.card-text,
.desc,
.buttons {
  text-align: left;
}
.more_room {
  margin-bottom: 9%;
}

.card-title {
  font-size: 1.2em;
  font-weight: bolder;
}
.large {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}
/* .bcr {
  width: 100%;
  height: 100%;
  background-image: url(orange-blue-strokes-with-copy-space_23-2148217392.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

@media screen and (min-width: 1186px) {
  .large {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .more_top {
    margin-top: 4%;
  }
}

.navbar-nav {
  margin-right: 20vw;
}
