body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
  line-height: 1.4;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 20px;
}
.flex-container > div {
  width: 650px;
}
.card-title,
.card-text,
.desc,
.buttons {
  text-align: left;
}
.more_room {
  margin-bottom: 9%;
}
.more_top {
  margin-top: 4%;
}
.card-title {
  font-size: 1.2em;
  font-weight: bolder;
}
.large {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
