body {
  font-family: 'Be Vietnam', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
}
.collapse {
  justify-content: center;
}
nav a {
  width: 150px;
}

.navbar-brand {
  margin-right: 0;
}

.collapse {
  justify-content: center;
}
.bc {
  width: 100%;
  height: 700px;
  background-image: url(orange-blue-strokes-with-copy-space_23-2148217392.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.centered,
.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
}
