body {
  font-family: 'Be Vietnam', sans-serif;
  text-align: center;
}
.collapse {
  justify-content: center;
}
nav a {
  width: 150px;
}

.navbar-brand {
  margin-right: 0;
}

nav {
  margin-bottom: 3%;
}
